/* .box{
    height:500px;
} */

/* .row > div{
    
    padding:10px;
    background: lightblue;
    border:1px solid lightblue;
    line-height:60px;
    margin:6px;
    height:120px;
}

.row{
    margin:40px auto;
} */
/* 
body{
    background-color: whitesmoke;
}
 */
